These first code blocks are for the PF coils M1 and M4.

Lucy and Dan provided info on what each column meant, we have height and width and also circuit number which represents what circuit those individual parts are apart of.

Need to do some reformatting of the original data file so it can work easily with pandas, and then we write to a parquet file.

In [83]:
import pandas as pd
import numpy as np

def process_pfcoil_data(input_file, output_file, parquet_output_file):
    with open(input_file, 'r') as infile, open(output_file, 'w') as outfile:
        for line in infile:
            modified_line = ','.join(line.strip().split())
            outfile.write(modified_line + '\n')

    df = pd.read_csv(output_file)

    # Rename columns and process data
    df = df.rename(columns={
        'R': 'r', 
        'Z': 'z', 
        'DeltaR': 'height', 
        'DeltaZ': 'width', 
        'circ': 'circuit_number', 
        'Name': 'name'
    })
    
    # Remove the '*' character from 'name' column
    df['name'] = df['name'].str.strip('*')
    
    # Add new column for current calculation
    df['current (mOhms)'] = df['mult'] * df['R(mOhms)']

    # Drop unnecessary columns
    df = df.drop(['N', 'mult', 'R(mOhms)'], axis=1)

    # Save DataFrame to a Parquet file
    df.to_parquet(parquet_output_file)

In [84]:
# M1
input_file = 'geometry_files/raw_files/EFIT_efit_data_pfcoils.dat_M1'
output_file = 'temp_files/pfcoils_M1.csv'
parquet_output_file = 'geometry_files/pfcoils_M1.parquet'

process_pfcoil_data(input_file, output_file, parquet_output_file)

# M4
input_file = 'geometry_files/raw_files/EFIT_efit_data_pfcoils.dat_M4'
output_file = 'temp_files/pfcoils_M4.csv'
parquet_output_file = 'geometry_files/pfcoils_M4.parquet'

process_pfcoil_data(input_file, output_file, parquet_output_file)

In [85]:
pd.read_parquet('geometry_files/pfcoils_M1.parquet', engine='fastparquet')

,r,z,height,width,ang1,ang2,circuit_number,name,current (mOhms)
0,0.1198,-1.3643,0.012,0.017,0.0,0.0,1,amc_sol_current_1,0.0
1,0.1198,-1.3463,0.012,0.017,0.0,0.0,1,amc_sol_current_2,0.0
2,0.1198,-1.3283,0.012,0.017,0.0,0.0,1,amc_sol_current_3,0.0
3,0.1198,-1.3103,0.012,0.017,0.0,0.0,1,amc_sol_current_4,0.0
4,0.1198,-1.2923,0.012,0.017,0.0,0.0,1,amc_sol_current_5,0.0
...,...,...,...,...,...,...,...,...,...
849,0.1907,0.6960,0.013,0.215,0.0,0.0,93,amm_rodgr11,6.1
850,0.1907,0.9150,0.013,0.215,0.0,0.0,94,amm_rodgr12,6.1
851,0.1944,1.1340,0.020,0.225,0.0,0.0,95,amm_rodgr13,3.7
852,0.1979,1.3500,0.028,0.225,0.0,0.0,96,amm_rodgr14,2.7
853,0.1981,1.5680,0.028,0.225,0.0,0.0,97,amm_rodgr15,2.7

With the detectors data files, they are in a weird format with no labels. The below code blocks will reformat the data so it can be read by pandas much easier. 

Lucy provided info on what each part in the data files meant:

- For the magnetic detectors it's r, z, poloidal orientation, and I think the last one is length but need to check.
 
- For the flux loops it's r, z, 'length in terms of toroidal angle'. All FLs on MAST used in EFIT were full flux loops so the final one here is always 2pi

Writes out the parquet for MAGENTIC DETECTORS

In [86]:
import pandas as pd

def process_magnetic_detectors(input_txt_file, combined_csv_file, processed_csv_file, parquet_output_file):
    # Combine detector names with values into a CSV
    def combine_detectors(input_file, output_file):
        with open(input_file, 'r') as infile:
            lines = infile.readlines()

        combined_data = []
        # Combine detector names with their values
        for i in range(0, len(lines), 2):
            detector_name = lines[i].strip()  # Get the detector name
            if i + 1 < len(lines):  # Check if the next line exists
                values = lines[i + 1].strip()  # Get the corresponding values
                combined_data.append(f"{detector_name},{values}")  # Combine and store

        # Write combined data to a CSV file
        with open(output_file, 'w') as outfile:
            outfile.write("name,Number,r,z,poloidal_orientation,length\n")  # Write header
            for line in combined_data:
                outfile.write(line + "\n")

    # Add commas between numbers in the CSV
    def add_commas_between_numbers(input_file, output_file):
        with open(input_file, 'r') as infile:
            lines = infile.readlines()

        with open(output_file, 'w') as outfile:
            for line in lines:
                processed_line = ','.join(line.split())  # Split by whitespace and join by commas
                outfile.write(processed_line + '\n')

    # Step 1: Combine detector names and values into a CSV
    combine_detectors(input_txt_file, combined_csv_file)

    # Step 2: Add commas between numbers in the combined CSV
    add_commas_between_numbers(combined_csv_file, processed_csv_file)

    # Step 3: Process the CSV using pandas and convert it to a parquet file
    df = pd.read_csv(processed_csv_file)
    df = df.drop(['Number'], axis=1)  # Drop the 'Number' column
    df.to_parquet(parquet_output_file)  # Save as a Parquet file

# Example usage
input_txt_file = 'temp_files/magnetic_detectors_M4.txt'
combined_csv_file = 'temp_files/magnetic_detectors_M4.csv'
processed_csv_file = 'temp_files/magnetic_detectors_processed_M4.csv'
parquet_output_file = 'geometry_files/magnetic_detectors_M4.parquet'

process_magnetic_detectors(input_txt_file, combined_csv_file, processed_csv_file, parquet_output_file)

# Example usage
input_txt_file = 'temp_files/magnetic_detectors_M1.txt'
combined_csv_file = 'temp_files/magnetic_detectors_M1.csv'
processed_csv_file = 'temp_files/magnetic_detectors_processed_M1.csv'
parquet_output_file = 'geometry_files/magnetic_detectors_M1.parquet'

process_magnetic_detectors(input_txt_file, combined_csv_file, processed_csv_file, parquet_output_file)

In [91]:
pd.read_parquet('geometry_files/magnetic_detectors_M1.parquet', engine='fastparquet')

          name       r        z  poloidal_orientation  length
0   amb_ccbv01  0.1803  1.44512                  90.0   0.025
1   amb_ccbv02  0.1803  1.36887                  90.0   0.025
2   amb_ccbv03  0.1803  1.29262                  90.0   0.025
3   amb_ccbv04  0.1803  1.21637                  90.0   0.025
4   amb_ccbv05  0.1803  1.14012                  90.0   0.025
..         ...     ...      ...                   ...     ...
89   amb_obr15  1.5913 -0.64530                   0.0   0.010
90   amb_obr16  1.5913 -0.72030                   0.0   0.010
91   amb_obr17  1.5913 -0.79530                   0.0   0.010
92   amb_obr18  1.4401 -1.24760                   0.0   0.010
93   amb_obr19  1.4401 -1.32260                   0.0   0.010

[94 rows x 5 columns]

Writes out for the FLUX LOOP DETECTORS (slightly different reformatting needed, so bit of repeat code)

In [87]:
import pandas as pd

def process_flux_loop_detectors(input_txt_file, combined_csv_file, processed_csv_file, parquet_output_file):
    # Step 1: Combine detector names with values into a CSV
    def combine_detectors(input_file, output_file):
        with open(input_file, 'r') as infile:
            lines = infile.readlines()

        combined_data = []
        # Combine detector names with their values
        for i in range(0, len(lines), 2):
            detector_name = lines[i].strip()  # Get the detector name
            if i + 1 < len(lines):  # Check if the next line exists
                values = lines[i + 1].strip()  # Get the corresponding values
                combined_data.append(f"{detector_name},{values}")  # Combine and store

        # Write combined data to a CSV file
        with open(output_file, 'w') as outfile:
            outfile.write("name,Number,r,z,2pi\n")  # Write header
            for line in combined_data:
                outfile.write(line + "\n")

    # Step 2: Add commas between numbers in the CSV
    def add_commas_between_numbers(input_file, output_file):
        with open(input_file, 'r') as infile:
            lines = infile.readlines()

        with open(output_file, 'w') as outfile:
            for line in lines:
                processed_line = ','.join(line.split())  # Split by whitespace and join by commas
                outfile.write(processed_line + '\n')

    # Step 1: Combine detector names and values into a CSV
    combine_detectors(input_txt_file, combined_csv_file)

    # Step 2: Add commas between numbers in the combined CSV
    add_commas_between_numbers(combined_csv_file, processed_csv_file)

    # Step 3: Process the CSV using pandas and convert it to a parquet file
    df = pd.read_csv(processed_csv_file)
    df = df.drop(['Number', '2pi'], axis=1)  # Drop the 'Number' and '2pi' columns
    df.to_parquet(parquet_output_file)  # Save as a Parquet file

# Example usage
input_txt_file = 'temp_files/flux_loop_detectors_M4.txt'
combined_csv_file = 'temp_files/flux_loop_detectors_M4.csv'
processed_csv_file = 'temp_files/flux_loop_detectors_processed_M4.csv'
parquet_output_file = 'geometry_files/flux_loop_detectors_M4.parquet'

process_flux_loop_detectors(input_txt_file, combined_csv_file, processed_csv_file, parquet_output_file)

# Example usage
input_txt_file = 'temp_files/flux_loop_detectors_M1.txt'
combined_csv_file = 'temp_files/flux_loop_detectors_M1.csv'
processed_csv_file = 'temp_files/flux_loop_detectors_processed_M1.csv'
parquet_output_file = 'geometry_files/flux_loop_detectors_M1.parquet'

process_flux_loop_detectors(input_txt_file, combined_csv_file, processed_csv_file, parquet_output_file)

In [92]:
pd.read_parquet('geometry_files/flux_loop_detectors_M1.parquet', engine='fastparquet')

            name       r        z
0    amb_fl/cc01  0.1785  1.23490
1    amb_fl/cc02  0.1785  0.92990
2    amb_fl/cc03  0.1785  0.62490
3    amb_fl/cc04  0.1785  0.31990
4    amb_fl/cc05  0.1785  0.01490
5    amb_fl/cc06  0.1785 -0.01810
6    amb_fl/cc07  0.1785 -0.32310
7    amb_fl/cc08  0.1785 -0.62810
8    amb_fl/cc09  0.1785 -0.93310
9    amb_fl/cc10  0.1785 -1.23810
10  amb_fl/p2u/1  0.2600  1.47184
11  amb_fl/p2u/2  0.3750  1.47184
12  amb_fl/p2u/3  0.5050  1.47184
13  amb_fl/p2u/4  0.6250  1.47184
14  amb_fl/p2u/5  0.7100  1.47184
15  amb_fl/p3u/1  1.1630  1.08259
16  amb_fl/p3u/2  1.1630  1.09759
17  amb_fl/p3u/3  1.0354  1.09759
18  amb_fl/p3u/4  1.0354  1.08309
19  amb_fl/p4u/1  1.5930  1.04079
20  amb_fl/p4u/2  1.5930  1.05579
21  amb_fl/p4u/3  1.4001  1.16579
22  amb_fl/p4u/4  1.4001  1.15079
23  amb_fl/p5u/1  1.7493  0.44221
24  amb_fl/p5u/2  1.7493  0.45721
25  amb_fl/p5u/3  1.5458  0.56420
26  amb_fl/p5u/4  1.5458  0.54920
27  amb_fl/p6u/1  1.4025  0.88900
28  amb_fl/p6u/2  1.4025  0.90400
29  amb_fl/p2l/1  0.2600 -1.48016
30  amb_fl/p2l/2  0.3750 -1.48016
31  amb_fl/p2l/3  0.5050 -1.48016
32  amb_fl/p2l/4  0.6250 -1.48016
33  amb_fl/p2l/5  0.7100 -1.48016
34  amb_fl/p3l/1  1.1630 -1.08860
35  amb_fl/p3l/2  1.1630 -1.10360
36  amb_fl/p3l/3  1.0354 -1.10360
37  amb_fl/p3l/4  1.0354 -1.08860
38  amb_fl/p4l/1  1.5984 -1.04443
39  amb_fl/p4l/2  1.5984 -1.06943
40  amb_fl/p4l/3  1.4005 -1.15943
41  amb_fl/p4l/4  1.4005 -1.14403
42  amb_fl/p5l/1  1.7463 -0.44224
43  amb_fl/p5l/2  1.7463 -0.45724
44  amb_fl/p5l/3  1.7463 -0.53224
45  amb_fl/p5l/4  1.5495 -0.54724
46  amb_fl/p6l/1  1.4025 -0.88760
47  amb_fl/p6l/2  1.4025 -0.90260

This is needed to get the correct .txt file to start with

In [88]:
# Function to remove even-numbered lines from a file
def remove_even_lines(input_file, output_file):
    with open(input_file, 'r') as infile:
        lines = infile.readlines()
    
    # Writing odd-numbered lines to the output file (1-based index)
    with open(output_file, 'w') as outfile:
        for i, line in enumerate(lines, start=1):
            if i % 2 != 0:  # Keep only odd lines
                outfile.write(line)

# Example usage
input_file = 'temp_files/flux_loop_detectors_M1.txt'
output_file = 'your_output_file.txt'
remove_even_lines(input_file, output_file)

M1 current detectors

In [89]:
import pandas as pd


def add_commas_between_numbers(input_file, output_file):
    with open(input_file, 'r') as infile:
        lines = infile.readlines()

    with open(output_file, 'w') as outfile:
        for line in lines:
            # Split the line by whitespace and then join by commas
            processed_line = ','.join(line.split())
            outfile.write(processed_line + '\n')

# Example usage
input_file = 'temp_files/current_detectors_M1.csv'
output_file = 'temp_files/current_detectors_processed_M1.csv'
add_commas_between_numbers(input_file, output_file)

df = pd.read_csv(output_file)
df.rename(columns={'Detector':'name', 'Value1':'r', 'Value2': 'z', 'Angle': 'angle'}, inplace=True)
df.to_parquet("geometry_files/current_detectors_M1.parquet")

Testing parquet is fine:

In [93]:
df = pd.read_parquet("geometry_files/current_detectors_M1.parquet")
df

                  name       r         z  angle
0   AMC_Plasma_Current       -         -  330.0
1   AMC_Plasma_Current       -         -  330.0
2   AMC_Plasma_Current       -         -  330.0
3   AMC_Plasma_Current       -         -  330.0
4   AMC_Plasma_Current       -         -  270.0
5   AMC_Plasma_Current       -         -  270.0
6   AMC_Plasma_Current       -         -  270.0
7   AMC_Plasma_Current       -         -  270.0
8       AMC_TF_Current       -         -      -
9      AMC_Sol_Current       -         -      -
10    AMC_EFPS_Current       -         -      -
11     AMC_P2u_Current  0.5000   1.66900  330.0
12     AMC_P2u_Current  0.5000   1.69900  150.0
13     AMC_P3u_Current  1.1002   1.10360  330.0
14     AMC_P3u_Current  1.1002   1.10360  150.0
15     AMC_P4u_Current  1.4949   1.10090  360.0
16     AMC_P4u_Current  1.4949   1.10090  180.0
17     AMC_P5u_Current  1.6416   0.50420  360.0
18     AMC_P5u_Current  1.6416   0.50420  180.0
19     AMC_P6u_Current  1.4382   0.89450  360.0
20     AMC_P6u_Current  1.4382   0.89450  180.0
21     AMC_P2l_Current  0.4998  -1.65120  330.0
22     AMC_P2l_Current  0.4998  -1.65120  150.0
23     AMC_P3l_Current  1.1000  -1.09960  330.0
24     AMC_P3l_Current  1.1000  -1.09960  150.0
25     AMC_P4l_Current  1.4681  -1.10900  360.0
26     AMC_P4l_Current  1.4681  -1.10900  180.0
27     AMC_P5l_Current  1.6403  -0.50530  360.0
28     AMC_P5l_Current  1.6403  -0.50530  180.0
29     AMC_P6l_Current  1.4367  -0.89510  360.0
30     AMC_P6l_Current  1.4367  -0.89510  180.0